/*==== Rtl Layout Style Here =====*/
body.rtl-layout {
  text-align: right !important;
}
.rtl-layout {
  &.mini-sidebar {
    .rct-header,
    .rct-footer {
      right: 75px !important;
    }
  }
}
.rtl-layout * {
  direction: rtl;
  .list-inline-item:not(:last-child) {
    margin-left: 0.5rem;
    margin-right: inherit;
  }
  .rct-page-wrapper {
    [direction="left"] {
      border-left: none;
      z-index: 1040;
    }
  }
  .rct-header.mui-fixed {
    right: 0;
    left: 0;
  }
  .rct-sidebar {
    .rct-mainMenu {
      > li {
        .menu-icon {
          float: right;
          margin-left: 0.9375rem;
          margin-right: inherit;
        }
        > a .menu {
          right: 45px;
          left: inherit;
        }
        .menu {
          right: 60px;
          left: inherit;
        }
        .side-arrow {
          left: 5px;
          right: inherit;
        }
      }
      .side-title {
        padding: 0 0.6875rem;
      }
    }
  }
  .rct-dropdown .dropdown-menu {
    right: -65px;
    left: inherit !important;
  }
  .pull-right {
    float: left;
  }
  .text-right {
    text-align: left !important;
  }
  .ml-0 {
    margin-right: 0rem;
    margin-left: inherit !important;
  }
  .mr-0 {
    margin-left: 0rem;
    margin-right: inherit !important;
  }
  .ml-5 {
    margin-right: 0.3125rem;
    margin-left: inherit !important;
  }
  .mr-5,
  .page-title .page-title-wrap > i {
    margin-left: 0.3125rem;
    margin-right: inherit !important;
  }
  .ml-10 {
    margin-right: 0.625rem;
    margin-left: inherit !important;
  }
  .mr-10,
  .table-action a,
  .card-action a i,
  .session-logo i {
    margin-left: 0.625rem;
    margin-right: inherit !important;
  }
  .ml-15,
  .mr-15 {
    margin-left: 0.9375rem;
    margin-right: inherit !important;
  }
  .ml-20 {
    margin-right: 1.25rem;
    margin-left: inherit !important;
  }
  .mr-20 {
    margin-left: 1.25rem;
    margin-right: inherit !important;
  }
  .ml-25 {
    margin-right: 1.563rem;
    margin-left: inherit !important;
  }
  .mr-25 {
    margin-left: 1.563rem;
    margin-right: inherit !important;
  }
  .ml-30 {
    margin-right: 1.875rem;
    margin-left: inherit !important;
  }
  .mr-30 {
    margin-left: 1.875rem;
    margin-right: inherit !important;
  }
  .ml-40 {
    margin-right: 2.5rem;
    margin-left: inherit !important;
  }
  .mr-40 {
    margin-left: 2.5rem;
    margin-right: inherit !important;
  }
  .ml-50 {
    margin-right: 3.125rem;
    margin-left: inherit !important;
  }
  .mr-50 {
    margin-left: 3.125rem;
    margin-right: inherit !important;
  }
  .ml-60 {
    margin-right: 3.75rem;
    margin-left: inherit !important;
  }
  .mr-60 {
    margin-left: 3.75rem;
    margin-right: inherit !important;
  }
  .pr-0 {
    padding-left: 0rem;
    padding-right: inherit !important;
  }
  .pl-0 {
    padding-right: 0rem;
    padding-left: inherit !important;
  }
  .pr-5 {
    padding-left: 0.3125rem;
    padding-right: inherit !important;
  }
  .pl-5 {
    padding-right: 0.3125rem;
    padding-left: inherit !important;
  }
  .pr-10 {
    padding-left: 0.625rem;
    padding-right: inherit !important;
  }
  .pl-10 {
    padding-right: 0.625rem;
    padding-left: inherit !important;
  }
  .pr-15 {
    padding-left: 0.9375rem;
    padding-right: inherit !important;
  }
  .pl-15 {
    padding-right: 0.9375rem;
    padding-left: inherit !important;
  }
  .pr-20 {
    padding-left: 1.25rem;
    padding-right: inherit !important;
  }
  .pl-20 {
    padding-right: 1.25rem;
    padding-left: inherit !important;
  }
  .pr-25 {
    padding-left: 1.563rem;
    padding-right: inherit !important;
  }
  .pl-25 {
    padding-right: 1.563rem;
    padding-left: inherit !important;
  }
  .pr-30 {
    padding-left: 1.875rem;
    padding-right: inherit !important;
  }
  .pl-30 {
    padding-right: 1.875rem;
    padding-left: inherit !important;
  }
  .pr-40 {
    padding-left: 2.5rem;
    padding-right: inherit !important;
  }
  .pl-40 {
    padding-right: 2.5rem;
    padding-left: inherit !important;
  }
  .pr-50 {
    padding-left: 3.125rem;
    padding-right: inherit !important;
  }
  .pl-50 {
    padding-right: 3.125rem;
    padding-left: inherit !important;
  }
  .pr-60 {
    padding-left: 3.75rem;
    padding-right: inherit !important;
  }
  .pl-60 {
    padding-right: 3.75rem;
    padding-left: inherit !important;
  }
  .list-group {
    padding-right: 0;
  }
  .float-left,
  .form-control-label {
    float: right !important;
  }
  .float-right {
    float: left !important;
  }
  .ql-editor,
  .media-body,
  .rct-block-content,
  .rct-mainMenu li,
  .side-title,
  .rct-dropdown .dropdown-menu ul li a,
  .address-wrapper h2,
  address span {
    text-align: right;
  }
  .rct-block-title h4 {
    text-align: right;
    border-right: 4px solid $blue;
    border-left: none;
    padding-right: 0.625rem;
  }
  .to-do-list label,
  .card-base label {
    margin-right: -14px;
    margin-left: 16px;
  }
  .app-selectbox::before {
    left: 10px;
    right: inherit;
  }
  .dropdown-toggle::after {
    margin-right: 0.255em;
  }
  .to-do-list {
    .float-left {
      text-align: right;
    }
  }
  .form-check-input {
    margin-right: -1.25rem;
    margin-left: inherit;
  }
  .has-wrapper .has-icon {
    left: 25px;
    right: inherit;
  }
  .rct-app-content {
    float: left;
  }
  .collapsed-sidebar .rct-header {
    right: 0 !important;
  }
  .rct-customizer .badge {
    right: 55px;
    left: inherit;
  }
  .timeline-wrapper::before {
    right: 9px;
    left: inherit;
  }
  .timeline-ring,
  .plan-info-listing li i {
    margin-left: 0.9375rem;
    margin-right: inherit;
  }
  .switch.on .switch-toggle {
    right: 23px;
    left: inherit;
  }
  .rct-tabs ul li,
  .search-filter,
  .profile-wrapper {
    text-align: right;
  }
  .search-filter .form-group {
    margin-right: 0.9375rem;
    margin-left: inherit;
  }
  .input-group-prepend {
    border-right: 1px solid #dbdbdb;
    border-left: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .input-group > .form-control:not(:first-child),
  .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .userProfile-wrapper .profile-top .profile-content {
    right: 110px;
  }
  .rct-page-wrapper [direction="left"],
  .dashboard-overlay,
  .rct-block-content,
  .rct-full-block {
    > div {
      > div {
        margin-left: -10px;
        margin-right: inherit;
      }
    }
  }
  .fixed-plugin {
    left: 0;
    border-radius: 0 8px 8px 0px;
    .dropdown {
      .dropdown-menu {
        right: -22rem !important;
        > div {
          > div {
            margin-left: -10px;
            margin-right: inherit;
          }
        }
        &::before {
          border-left: 0.6rem solid transparent;
          border-right: 0.6rem solid $block-bg;
          left: 0;
          right: 328px;
        }
      }
    }
  }
  .notification-icon .dropdown-menu {
    right: -18.5rem !important;
    left: inherit !important;
    &::before,
    &::after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      left: 10%;
    }
  }
  .like-box {
    margin-left: 3.25rem;
    margin-right: inherit;
  }
  .panel-heading > div {
    left: 8px;
    right: inherit;
  }
  .divider-wrapper ul li > div {
    text-align: right;
    left: 4px;
    right: inherit;
  }
  .list-action a,
  .social-action a {
    margin-left: 0.625rem;
  }
  .rct-mail-wrapper,
  .todo-wrapper,
  .chat-wrapper {
    header {
      margin-right: 15.25rem;
      margin-left: inherit;
    }
  }
  .ladgend {
    margin-left: 10px;
    margin-right: inherit;
  }
}
@media (max-width: 770px) and (min-width: 320px) {
  .rct-header > div.w-100 {
    padding: 0 10px;
  }
}
